{% extends 'webmain/base.html' %}
{% load staticfiles %}
{% block body %}



<!--    <h3>ALL PHOTOS</h3>-->
<!--    <ul>-->
<!--        {% for gallery in all_galleries %}-->
<!--        <li><a href="{% url 'webmain:detail' gallery.id %}">{{ gallery.Name }} - {{ gallery.Visibility }} - {{ gallery.Description }}</a></li>-->
<!--             <input type="hidden" name="photo" value="{{ gallery.id }}" />-->

<!--        {% endfor %}-->
<!--    </ul>-->

<!--{% if messages %}-->
<!--            <ul class="messages">-->
<!--                {% for message in messages %}-->
<!--                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--        {% endif %}-->

    <div class="container feed">
        <div class="row">
            <div class="col-md-1">
                {#empty div#}
            </div>
            <div class="col-md-10">
                {% for gallery in all_galleries %}
                    <div class="feed">
                        <div class="panel panel-default ">
                            <br>

                            <span>&nbsp;<img src ="{{ gallery.GalleryOwner.profile.ProfilePhoto }}" class="" style="height: 35px; width: 35px; border-radius: 100%"
                        alt="Profile Picture">&nbsp;
                            <strong><a href="{% url 'users:getProfile' gallery.GalleryOwner %}" class="link">{{ gallery.GalleryOwner }}</a></strong></span>

                            <p> &nbsp;&nbsp;{{ gallery.Description }}</p>
                            <a href="{% url 'webmain:detail' gallery.id %}">
                                <img src="{{ MEDIA_URL }}{{ gallery.AlbumCover.url }}" class="img-responsive center-block index_img">
                            </a>
                            <br>
<!--        REMOVED LIKE SECTION FROM HERE-->
<!--                            <div class="form-group ">-->
<!--                                <div class="control-label ">-->
<!--                                    <button class="btn btn-default "><a href="{% url 'webmain:like_gallery' gallery.id %}"><span class="glyphicon glyphicon-thumbs-up"></span></a></button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            {% for like in like_galleries %}-->
<!--                                {% if like.User == request.user and like.Gallery == gallery  %}-->
<!--                            <h1>HHHH</h1>-->
<!--                                {% endif  %}-->
<!--                            {% endfor %}-->



<!--                                <form class="form-inline w-100" method="get" action="{% url 'webmain:comment_gallery' gallery.id %}">-->
<!--                                    <div class="input-group w-100">-->
<!--                                        <input type="text" name="comment" class="form-control" style="resize: none" aria-label="Add a comment…" placeholder="Add a comment…">-->
<!--                                        <div class="input-group-append">-->
<!--                                            <button class="btn btn-default input-group-text" type="submit">-->
<!--                                                <i class="far fa-comment"></i>-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </form>-->

                            <form class="form" method="get" action="{% url 'webmain:comment_gallery' gallery.id %}">
                                <div class="input-group" >
                                    <input type="text" name="comment" class="form-control" aria-label="Add a comment…" placeholder="Add a comment…">
                                    <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit"><span aria-hidden="true">
                                    </span><i class="far fa-comment"></i></button>
                                    </span>
                                </div>
                            </form>
                            <br>

<!--                            <form class="form-inline" role="form" >-->
<!--                                <div class="form-group comForm">-->
<!--                                    <input class="form-control" type="text" style="width=10px" placeholder="Your comments" />-->
<!--                                </div>-->
<!--                                <div class="form-group comForm">-->
<!--                                    <button class="btn btn-default">Add</button>-->
<!--                                </div>-->
<!--                            </form>-->
<!--                            <img src="{{ MEDIA_URL }}{{ gallery.GalleryOwner.profile.ProfilePhoto.url }}"  alt="Avatar">-->
<!--                            <img class="rounded-circle article-img" src="{{ MEDIA_URL }}{{ gallery.AlbumCover.url }}"  alt="img"></h2>-->
                            {% for comment in comments %}
                                {% if gallery.id == comment.Gallery.id %}
                                    {% if comment.User == request.user%}
                                        <p><strong>&nbsp;<a href="{% url 'users:profile'%}" class="link">{{ comment.User }}</a></strong> &nbsp; {{ comment.Comment }}</p>
                                    {% else %}
                                        <p><strong>&nbsp;<a href="{% url 'users:getProfile' comment.User%}" class="link">{{ comment.User }}</a></strong> &nbsp; {{ comment.Comment }}</p>
                                    {% endif%}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% empty %}
                    <div>
                        <h2>No feed available!</h2>
                        <p>Try to search for new friends! </p>
                    </div>
                {% endfor %}
            </div>


        </div>
    </div>


{% endblock %}


