{%extends 'webmain/base.html'%}
{% block body %}

<!--        {% if messages %}-->
<!--            <ul class="messages">-->
<!--                {% for message in messages %}-->
<!--                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--        {% endif %}-->

    <div class="container feed">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                {% for n_user in users %}
                    <div class="feed">
                        <br>
                        <div class="search_card ">

                            <span>&nbsp;<img src ="{{ MEDIA_URL }}{{ n_user.user.profile.ProfilePhoto.url }}" class="search_img" alt="Profile Picture">
                            <strong><a href="{% url 'users:getProfile' n_user.user.username %}" class="link">{{ n_user.user }}</a></strong>
                            </span>
                            <div class="search_marg">
                            <p>
                               <font size=2>
                                   <strong>Email:</strong> {{ n_user.user.email }}
                               </font>
                                <br>
                                {% if n_user.user.profile.LastName != "" %}
                                <font size=2>
                                   <strong>Last name:</strong> {{ n_user.user.profile.LastName }}
                               </font>
                                <br>
                                {% endif %}
                                {% if n_user.user.profile.FirstName != "" %}
                                <font size=2>
                                   <strong>First name:</strong> {{ n_user.user.profile.FirstName }}
                               </font>
                                <br>
                                {% endif %}

                                {% if n_user.user.profile.Bio != "" %}
                                <font size=2>
                                   <strong>Bio:</strong> {{ n_user.user.profile.Bio }}
                               </font>
                                {%endif%}
                                <br>
<!--                            FollowCond2__id=request.user.id).filter(FollowCond1__id=user_id)-->
<!--                            INITIAL APPROACH.COULD NOT CHECK ALL CASES-->
<!--                            <form action="{% url 'webmain:follow' n_user.user.id%}" method="post" style="display: inline;">-->
<!--                                            {% csrf_token %}-->
<!--                                            <button type="submit" class="btn btn-default">-->
<!--                                                Share Content-->
<!--                                            </button>-->
<!--                                        </form>-->

                            {% for follower in follow %}

                                {% if follower.FollowCond1 == request.user and follower.FollowCond2 == n_user.user  %}
<!--                                    <form action="{% url 'webmain:follow' n_user.user.id%}" method="post" style="display: inline;">-->
<!--                                        {% csrf_token %}-->
<!--                                        <button type="submit" class="btn btn-default">-->
<!--                                            Unshare Content-->
<!--                                        </button>-->
<!--                                    </form>-->
<!--                                    <button type="submit" class="btn btn-default">-->
<!--                                                <font>Content Shared<span class="glyphicon glyphicon-ok"></span>-->
                                                    <font size=2>
                                                       <strong>Content Shared<span class="glyphicon glyphicon-ok"></span></strong>
                                                   </font>
<!--                                            </button>-->

                                {% else %}
                                    {% if forloop.last %}
<!--                                        <form action="{% url 'webmain:follow' n_user.user.id%}" method="post" style="display: inline;">-->
<!--                                            {% csrf_token %}-->
<!--                                            <button type="submit" class="btn btn-default">-->
<!--                                                Share Content-->
<!--                                            </button>-->
<!--                                        </form>-->
                                    {% endif%}
                                {% endif %}
                            {% endfor %}
                            </p>
                            </div>


                        </div>

                    </div>

                {% empty %}
                    <div>
                        <h1>Could not find any user with that username. Please try again</h1>

                    </div>
                {% endfor %}
            </div>


        </div>
    </div>


{% endblock %}
