
/*Base.html file*/

/*
.vr{
    color: #FFFFFF;
}
*/
@import url('https://fonts.googleapis.com/css?family=Cairo|Pacifico&display=swap');

/* Text */

body{
    font-family: 'Cairo', sans-serif;
}

/* a{
    font-family: 'Cairo', sans-serif;
}

p{
    font-family: 'Cairo', sans-serif;
}

h1{
    font-family: 'Cairo', sans-serif;
}

h2{
    font-family: 'Cairo', sans-serif;
}

h3{
    font-family: 'Cairo', sans-serif;
}

h4{
    font-family: 'Cairo', sans-serif;
} */

.logo-font{
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    /*margin-top: 7px;*/
    vertical-align: middle;
}


.index_img{
  object-fit: cover;

  width: 600px;
  height: 600px;
}


.panel{
    border: none;
    background: none;
    margin-bottom: 60px;
    webkit-box-shadow: none;
    box-shadow: none;
}

.homefeed-panel-row{
    margin: 0;
}

.homefeed-sidepanel{
    background-color: #222;
    padding-top: 10px;
}

.homefeed-panel p{
    color:white;
}

.homefeed-panel{
   /* margin: 2%; */
    padding:1%;
}

.index-image-div{
    padding:15px;
    background-color: #ddd;
}

.homefeed-comment-box{
    height: 380px;
    margin-bottom: 10px;
    padding: 4px;
    background-color: #333;
}

.homefeed-like{
    margin-top: 12px;
    float: right;
    margin-bottom: 15px;
}

.homefeed-description-box{
    margin-top: 10px;
    padding: 4px;
    background-color: #333;
    height: 80px;
}

.homefeed-username {
    vertical-align: middle;
    margin-left: 10px;
    font-size: 23px;
    float: right;
}

.topStick{
    margin-top:15px;
}

.img-circle{
    height: 35px;
    width: 35px;
    border-radius: 100%;

}

.search_group{
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hyperlink{
    color: #FFFFFF;
    height: auto;

}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


@media only screen and (min-device-width: 450px) {
    .navbar .navbar-brand {
        padding: 8px 5px;
    }

    .navbar-form {
        margin-top: 7px;
    }
}


/*profile.html file*/

.profile_img{
    height: 120px;
    width: 120px;
    border-radius: 100%
}

.proPic {
  width:350px;
  height:350px;
  margin: 3px;
}

.ImgBody {
    display: flex;
    flex-wrap: wrap;
    width :1950px;
    max-width:100%;
    max-height:100%;
    /*border-style: solid;*/
}

.glyphicon{
    color: #009688;
}

.link{
    color: #009688;
}

.btn-primary{
    background-color: #009688;
}

.glyphicon-trash{
    float: right;
    margin-top: 2px;
}
.homefeed-comment{
    padding:2px 2px;
    margin: 0;
}

/*
.ImgBody {
  display: flex;
  flex-wrap: wrap;

}

.ImgBody > div {
  background-color: #f1f1f1;
  width: 300px;
  margin: 5px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}*/


/*detail.html*/

/*
.panel{
    border: 0;
}*/

.input-group {
    float:left;
}

.albPic {
  width:370px;
  height:370px;
  margin: 3px;
}


.AlbBody {
    display: flex;
    flex-wrap: wrap;
    width :1200px;
    max-width:100%;
    max-height:100%;
    /*border-style: solid;*/
}

.albCov{
    /*min-width: 450px;
    min-height: 450px*/
    width:auto;
    height:auto;
    background-size: contain;
}

/*search.html*/

.search_img{
    height: 65px;
    width: 65px;
    border-radius: 100%
}

.search_card{
    border: 1px solid grey;
    border-radius: 5px;
    padding-top: 5px;
}

.search_marg{
    margin-left: 13px;
}


.error {
    padding: 10px;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    margin-bottom: 20px;
    margin: auto;
    max-width: 810px;
    /* margin-top: 50px; */
}


.PhotDet{
    min-width: 450px;
    min-height: 450px;
    max-width: 1024px;
    max-height: 1024px;
    background-size: contain;

}