{% extends "webmain/base.html" %}
{% block body %}
<!--    <h2>You have been logged out</h2>-->
<!--    <div class="border-top pt-3">-->
<!--        <small class="text-muted">-->
<!--            <a href="{% url 'users:login' %}">Log In Again</a>-->
<!--        </small>-->
<!--    </div>-->
<div class="container">
        <div class="text-center">
            <br>
            <br>
            <h2>You have successfully logged off</h2>
            <small class="text-muted">
                For your security we recommend you to close your browser. You may <a href="{% url 'users:login' %}">log in</a> again
            </small>
        </div>
    </div>
{% endblock %}

