{% extends "webmain/base.html" %}
{% load crispy_forms_tags %}
{% block body %}


        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}


    <div class="container">
        <div class="row profile-header">
            <div class="row-lg-6">
                <div class="col-lg-4">
                    <a class="" href="{% url 'webmain:index' %}">
                            <img class="" style="height: 120px; width: 120px; border-radius: 100% " src="{{ profile.ProfilePhoto }}" alt="">
                    </a>
                    <br/>
                    <h2>{{ user.username }}
                    </h2>
                </div>

                {% if user.username == requsername %}

                    <div class="row in-profile-header">

                        <form method="POST" enctype = "multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4"></legend>
                                {{ user_form|crispy }}
                                {{ profile_form|crispy }}
                        </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                {% else %}
                    <div class="row in-profile-header">
                        <div class="col">
                            <h7>Username: <strong>{{ user.username }}</strong></h7>
                            </br><h7>Email:<strong>{{ user.email }}</strong></h7>
                            </br><h7>First Name: <strong>{{ profile.FirstName }}</strong></h7>
                            </br><h7>Last Name: <strong>{{ profile.LastName }}</strong></h7>
                            </br><h7>Bio: <strong>{{ profile.Bio }}</strong></h7>
                            </br><h7>Date of birth: <strong>{{ profile.BirthDate }}</strong></h7>
                            </br><h7>Sex: <strong>{{ profile.Sex }}</strong></h7>

                        </div>
                        <form action="{% url 'webmain:follow' user.id%}" method="post" style="display: inline;">
                                        {% csrf_token %}
<!--                                        <input type="hidden" name="user_id" value="{{ n_user.user.username }}" />-->
                                        <button type="submit" class="btn btn-outline-info">
<!--                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; -->
                                            Share Content
                                        </button>
                                    </form>
                    </div>
                {% endif %}

                {% for gallery in my_galleries %}

                            <div class="ImgBody">
                                <a href="{% url 'webmain:detail' gallery.id%}">
                                <img class="proPic" src="{{ gallery.AlbumCover }}" alt="epicodus logo">
                                </a>
                            </div>



                {% endfor %}
            </div>
            <div class="col-lg-4">

            </div>
        </div>
    </div>



{% endblock%}

