{% extends 'webmain/base.html' %}
{% block title %}Add a New Photo{% endblock %}


{% block body %}

<div class="container-fluid">

    <div class="row">

        <div class=" col-sm-4 col-md-4">

            <!--Gallery Info-->
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h2 class="panel-title">{{ gallery.Name }}, <i>{{ gallery.GalleryOwner }}</i></h2>
                </div>

                <div class="panel-body">
                    <a href="{% url 'webmain:detail' gallery.id %}">
                        {% if gallery.AlbumCover %}
                            <img src="{{ gallery.AlbumCover }}" class="img-responsive">
                        {% else %}
                            <h3>No gallery to display</h3>
                        {% endif %}
                    </a>
                    <h1> <small>{{ gallery.Description }}</small></h1>
                </div>
            </div>

            {% for comment in comments %}
                <p><strong>&nbsp;<a href="{% url 'webmain:index'%}" class="link">{{ comment.User }}</a></strong> &nbsp; {{ comment.Comment }}
                    <a href="{% url 'webmain:delete_comment_gallery' comment_id=comment.id gallery_id=gallery.id %}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>
            {% endfor %}

        </div>

                <div class="col-sm-4 col-md-8">
                    <ul class="nav nav-pills" style="margin-bottom: 10px;">
                        <li role="presentation" ><a href="{% url 'webmain:detail' gallery.id %}">View All</a></li>
                        {% if gallery.GalleryOwner.username == requsername %}
                            <li role="presentation" class="active"><a href="{% url 'webmain:add_photo' gallery.id %}">Add New Photo</a></li>
                            <li role="presentation"><a href="{% url 'webmain:delete_gallery' gallery.id %}">Delete Gallery</a></li>
                        {% endif %}
                    </ul>

                    <div class="panel panel-default">
                        <div class="panel-body">


<!--                            <h3>Add or Update a Photo</h3>-->
                            {% if error_message %}
                                <p><strong>{{ error_message }}</strong></p>
                            {% endif %}
                            <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                                <div class="form-group ">
                                    <div class="control-label col-sm-7 ">
                                        <h3>Add a Photo</h3>
                                    </div>
                                </div>
                                {% csrf_token %}
                                <input type="hidden" name="album" value="{{ gallery }}">
                                {% for field in form %}
                                    <div class="form-group has-success">
                                        <label class="control-label col-sm-5" >{{ field.label_tag }}</label> {{ field }}
                                    </div>
                                {% endfor %}
                                <div class="form-group ">
                                    <div class="control-label col-sm-6 ">
                                        <button class="btn btn-success "><span class="glyphicon glyphicon-save" aria-hidden="true"></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>
{% endblock %}