{% extends 'webmain/base.html' %}

{% block title %}Add new Gallery{% endblock %}
{% block body %}


    <div class="container-fluid reg-cen">
        <div class="row">
            <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="card card-default">
                        <div class="card-heading">
                            <h1 class="text-center">Add or Update a Gallery</h1>
                        </div>
                            <div class="card-body">

                                <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                        {% for field in form %}
                                            <div class="form-group ">

                                                <label class="control-label col-sm-4" >{{ field.label_tag }}</label> {{ field }}
                                            </div>
                                        {% endfor %}
                                    <div class="form-group ">
                                        <div class="control-label col-sm-6 ">
                                        <button class="btn btn-success "><span class="glyphicon glyphicon-save" aria-hidden="true"></span></button>
                                    </div>
                                </div>
                                </form>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                </div>
        </div>
    </div>





{% endblock %}