{% extends 'webmain/base.html' %}
{% block title %}{{ gallery }}{% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="row">

        <div class=" col-sm-4 col-md-4">

            <!--Gallery Info-->
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h2 class="panel-title">{{ gallery.Name }}, <i>{{ gallery.GalleryOwner }}</i></h2>
                </div>
                <div class="panel-body">

                    <a href="{% url 'webmain:detail' gallery.id %}">
                        {% if gallery.AlbumCover %}
                            <img src="{{ gallery.AlbumCover }}" class="img-responsive center-block albCov">
                        {% else %}
                            <h3>No gallery to display</h3>
                        {% endif %}
                    </a>
                    <h1> <small>{{ gallery.Description }}</small></h1>

                </div>
            </div>

            <form class="form" method="get" action="{% url 'webmain:comment_gallery' gallery.id 'detail' %}">
                                <div class="input-group" >
                                    <input type="text" name="comment" class="form-control" aria-label="Add a comment…" placeholder="Add a comment…">
                                    <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit"><span aria-hidden="true">
                                    </span><i class="far fa-comment"></i></button>
                                    </span>
                                </div>
                            </form>
                            <br>

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                {% if is_liked %}
                        &nbsp;&nbsp;<li role="presentation" class="active"><a href="{% url 'webmain:like_gallery' gallery.id 'detail' %}">Unlike <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> </a></li>
                {% else %}
                        &nbsp;&nbsp;<li role="presentation" ><a href="{% url 'webmain:like_gallery' gallery.id 'detail' %}">Like <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a></li>
                {% endif %}

                {% if like_count == 1 %}
                <li role="presentation" class="active"><h4> &nbsp;{{like_count}} person likes this gallery</h4></li>
                {% elif like_count > 1 %}
                <li role="presentation" class="active"><h4> &nbsp;{{like_count}} people like this gallery</h4></li>
                {% endif %}
            </ul>

            {% for comment in comments %}
                {% if gallery.id == gallery.id %}
                    {% if comment.User.username == user.username or user.username == gallery.GalleryOwner.username%}
                        <p><strong>&nbsp;<a href="{% url 'users:profile'%}" class="link">{{ comment.User }}</a></strong> &nbsp; {{ comment.Comment }}
                                     <a href="{% url 'webmain:delete_comment_gallery' comment_id=comment.id gallery_id=gallery.id redirect_target='detail' %}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>
                    {% else %}
                        <p><strong>&nbsp;<a href="{%url 'users:getProfile' comment.User %}" class="link">{{ comment.User }}</a></strong> &nbsp; {{ comment.Comment }}</p>
                    {% endif%}
                {% endif %}
            {% endfor %}

        </div>

                <div class="col-sm-4 col-md-8">
                    <ul class="nav nav-pills" style="margin-bottom: 10px;">
                        <li role="presentation" class="active"><a href="{% url 'webmain:detail' gallery.id %}">View All</a></li>
                        {% if gallery.GalleryOwner.username == user.username %}
                            <li role="presentation"><a href="{% url 'webmain:add_photo' gallery.id %}">Add New Photo</a></li>
                            <li role="presentation"><a href="{% url 'webmain:update_gallery' gallery.id %}">Update Gallery</a></li>
                            <li role="presentation"><a href="{% url 'webmain:delete_gallery' gallery.id %}">Delete Gallery</a></li>
                        {% endif %}
                    </ul>

                    <div class="AlbBody">
                    {% for photo in photos %}
                            <a href="{% url 'webmain:photo_detail' gallery.id photo.id %}">
                                <img class="albPic" src="{{ photo.Photo }}" class="img-responsive">
                            </a>
                    {% empty %}
                    <div>
                        <h2>No photos to show!</h2>
                    </div>
                    {% endfor %}
                    </div>
                </div>
        </div>
    </div>

</div>

{% endblock %}