{% extends 'webmain/base.html' %}
{% load staticfiles %}
{% block body %}

    <div class="container feed">
        <div class="row">
            <div class="col-md-1">
                {#empty div#}
            </div>
            <div class="homefeed-panel col-md-10">
                {% for gallery in all_galleries %}
                    <div class="feed">
                        <div class="panel panel-default " >
                            <div class="row homefeed-panel-row">
                                <div class="col-md-4 homefeed-sidepanel" >
                                    <img src ="{{ gallery.GalleryOwnerPhoto }}" style="height: 35px; width: 35px; border-radius: 100%" alt=" ">
                                    <strong><a class='homefeed-username link' href="{% url 'users:getProfile' gallery.GalleryOwner %}">{{ gallery.GalleryOwner }}</a></strong>
                                    <p class="homefeed-description-box"> &nbsp;&nbsp;{{ gallery.Description }}</p>

                                    <div class="homefeed-comment-box">
                                    {% for comment in gallery.comments %}
                                        {% if comment.User.username == requsername%}
                                            <p class="homefeed-comment"><strong>&nbsp;<a href="{% url 'users:profile'%}" class="link">{{ comment.User }}</a></strong> {{ comment.Comment }}
                                            <a href="{% url 'webmain:delete_comment_gallery' comment_id=comment.id gallery_id=gallery.id redirect_target='index' %}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>
                                        {% else %}
                                            <p class="homefeed-comment"><strong><a href="{% url 'users:getProfile' comment.User%}" class="link">{{ comment.User }}</a></strong> &nbsp; {{ comment.Comment }}</p>
                                        {% endif%}
                                    {% endfor %}
                                    </div>

                                    <form class="form" method="get" action="{% url 'webmain:comment_gallery' gallery.id 'index' %}">
                                        <div class="input-group" >
                                            <input type="text" name="comment" class="form-control" aria-label="Add a comment…" placeholder="Add a comment…">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="submit"><span aria-hidden="true">
                                            </span><i class="far fa-comment"></i></button>
                                            </span>
                                        </div>
                                    </form>


                                     {% if gallery.isLiked  %}
                                                <button class="btn btn-default homefeed-like"><a href="{% url 'webmain:like_gallery' gallery.id 'index' %}"><span class="glyphicon glyphicon-thumbs-down"> Unlike </span></a></button>
                                    {% else %}
                                                <button class="btn btn-default homefeed-like"><a href="{% url 'webmain:like_gallery' gallery.id  'index' %}"><span class="glyphicon glyphicon-thumbs-up"> Like </span></a></button>
                                    {% endif  %}

                                    </div>
                                        <div class="col-md-8 index-image-div">
                                            <a href="{% url 'webmain:detail' gallery.id %}">
                                                <img src="{{ MEDIA_URL }}{{ gallery.AlbumCover }}" class="img-responsive center-block index_img">
                                            </a>
                                        </div>
                                    </div>
                        </div>
                    </div>
                {% empty %}
                    <div>
                        <h2>No feed available!</h2>
                        <p>Try to search for new friends! </p>
                    </div>
                {% endfor %}
            </div>


        </div>
    </div>


{% endblock %}


