{% extends 'webmain/base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block body %}



{% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    <div class="container feed">
        <div class="row">
            <div class="col-md-1">
                {#        empty div#}
            </div>
            <div class="col-md-10">
                {% for gallery in all_galleries %}
                    <div class="feed">
                        <div class="card ">
                            <br>

                            <span>&nbsp;<img src ="{{ MEDIA_URL }}{{ gallery.GalleryOwner.profile.ProfilePhoto.url }}" class="" style="height: 35px; width: 35px; border-radius: 100%"
                        alt="Profile Picture">&nbsp;
                            <strong><a href="{% url 'users:getProfile' gallery.GalleryOwner %}" class="link">{{ gallery.GalleryOwner }}</a></strong></span>
                            <p>&nbsp;&nbsp;&nbsp;{{ gallery.Description }}</p>

                            <a href="{% url 'webmain:detail' gallery.id %}">
                                <img src="{{ MEDIA_URL }}{{ gallery.AlbumCover }}" class="img-responsive">
                            </a>
                            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                                <li role="presentation" class="active"><a href="{% url 'webmain:like_gallery' gallery.id %}">Like</a></li>
                            </ul>
                            <div class="row px-2">
                                <form class="form-inline w-100" method="get" action="{% url 'webmain:comment_gallery' gallery.id %}">
                                    <div class="input-group w-100">
                                        <input type="text" name="comment" class="form-control" style="resize: none" aria-label="Add a comment…" placeholder="Add a comment…">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-dark input-group-text" type="submit">
                                                <i class="far fa-comment"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            {% for comment in comments %}
                                {% if gallery.id == comment.Gallery.id %}
                                    <p><strong>&nbsp;<a href="{% url 'webmain:index'%}" class="link">{{ comment.User }}</a></strong> &nbsp; {{ comment.Comment }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% empty %}
                    <div>
                        <h2>No feed available!</h2>
                        <p>Try to search for new friends! </p>
                    </div>
                {% endfor %}
            </div>


        </div>
    </div>


{% endblock %}


