{% extends 'webmain/base.html' %}


{% block body %}

    <div class="container-fluid">
    <div class="row">
        <div class=" col-sm-7">
            <img class="img-responsive center-block PhotDet" src="{{ phot.Photo }}">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'webmain:detail' gallery.id %}">View Gallery</a></li>
                {% if gallery.GalleryOwner.username == requsername %}
                    <li role="presentation"><a href="{% url 'webmain:delete_photo' gallery_id=gallery.id photo_id=phot.id %}">Delete Photo</a></li>
                {% endif %}

            </ul>

                <form class="form" method="get" action="{% url 'webmain:comment_photo' phot.id %}">
                    <div class="input-group" >
                        <input type="text" name="comment" class="form-control" aria-label="Add a comment…" placeholder="Add a comment…">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><span aria-hidden="true">
                                    </span><i class="far fa-comment"></i></button>
                        </span>
                    </div>
                </form>
                <br>
            {% if is_liked %}
                <!--Action buttons gallery-->
                <ul class="nav nav-pills" style="margin-bottom: 10px;">
                    &nbsp;&nbsp;<li role="presentation" class="active"><a href="{%  url 'webmain:like_photo' gallery_id=gallery.id photo_id=phot.id %}">Unlike <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a></li>
                </ul>
            {% else %}
                <ul class="nav nav-pills" style="margin-bottom: 10px;">
                    &nbsp;&nbsp;<li role="presentation" ><a href="{%  url 'webmain:like_photo' gallery_id=gallery.id photo_id=phot.id %}">Like <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a></li>
                </ul>
            {% endif %}

            {% if like_count == 1 %}
                <h3>{{like_count}} person likes this photo</h3>
            {% elif like_count > 1 %}
                <h3>{{like_count}} people like this photo</h3>
            {% endif %}

        {% for comment in comments %}
            {% if phot.id == comment.Photo %}
                {% if comment.User.username == user.username or user.username == gallery.GalleryOwner.username%}
                        <p><strong>&nbsp;<a href="{% url 'users:profile'%}" class="link">{{ comment.User }}</a></strong> &nbsp; {{ comment.Comment }}
                                     <a href="{% url 'webmain:delete_comment_photo' comment_id=comment.id photo_id=phot.id%}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></p>
                {% else %}
                    <p><strong>&nbsp;<a href="{%url 'users:getProfile' comment.User %}" class="link">{{ comment.User }}</a></strong> &nbsp; {{ comment.Comment }}</p>
                {% endif%}
            {% endif %}
        {% endfor %}

        </div>
    </div>
    </div>

{% endblock %}