{%extends 'webmain/base.html'%}
{% block body %}
{% include 'webmain/navbar.html' %}

{% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    <div class="container feed">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                {% for profile in profiles %}
                    <div class="feed">
                        <div class="card ">

                            <span>&nbsp;<img src ="{{ profile.ProfilePhoto }}" class="" style="height: 65px; width: 65px; border-radius: 100%"
                        alt="Profile Picture">
                            <strong><a href="{% url 'users:getProfile' profile.user.username %}" class="link">{{ profile }}</a></strong>

                            </span>
                            <p>&nbsp;&nbsp;&nbsp;
                               <font size=2>
                                   <strong>Email:</strong> {{ profile.user.email }}
                               </font>
                                <br>&nbsp;&nbsp;&nbsp;
                                <font size=2>
                                   <strong>Full name:</strong> {{ profile.LastName }} {{ profile.FirstName }}
                               </font>
                                <br>&nbsp;&nbsp;&nbsp;
                                <font size=2>
                                   <strong>Bio:</strong> {{ profile.Bio }}
                               </font>
                            </p>


                            <form action="{% url 'webmain:follow' profile.user.id%}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-info">
                                            Share Content
                                        </button>
                                    </form>

                        </div>
                    </div>

                {% empty %}
                    <div>
                        <h1>Could not find any user with that username. Please try again</h1>

                    </div>
                {% endfor %}
            </div>


        </div>
    </div>


{% endblock %}
