{%extends 'webmain/base.html'%}
{% block body %}



    <div class="container feed">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                {% for profile in profiles %}
                    <div class="feed">
                        <br>
                        <div class="search_card">

                            <span>&nbsp;<img src ="{{ MEDIA_URL }}{{ profile.ProfilePhoto }}" class="search_img" alt="Profile Picture">
                            <strong><a href="{% url 'users:getProfile' profile.user.username %}" class="link">{{ profile.user }}</a></strong>
                            </span>
                            <div class="search_marg">
                            <p>
                               <font size=2>
                                   <strong>Email:</strong> {{ profile.user.email }}
                               </font>
                                <br>
                                {% if profile.LastName != "" %}
                                <font size=2>
                                   <strong>Last name:</strong> {{ profile.LastName }}
                               </font>
                                <br>
                                {% endif %}
                                {% if profile.FirstName != "" %}
                                <font size=2>
                                   <strong>First name:</strong> {{ profile.FirstName }}
                               </font>
                                <br>
                                {% endif %}

                                {% if profile.Bio != "" %}
                                <font size=2>
                                   <strong>Bio:</strong> {{ profile.Bio }}
                               </font>
                                {%endif%}
                                <br>

                                {% if not profile.is_friend %}
                                <form action="{% url 'webmain:follow' profile.user.id%}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-info">
                                            Share Content
                                        </button>
                                </form>
                                {% else %}
                                <font size=2>
                                   <strong>You are sharing content with this user</strong>
                                </font>
                                {% endif %}
                            </p>
                            </div>
                        </div>

                    </div>

                {% empty %}
                    <div>
                        <h1>Could not find any user with that username. Please try again</h1>
                    </div>
                {% endfor %}
            </div>


        </div>
    </div>


{% endblock %}
