Django==2.2.1
django-filter==2.1.0
djangorestframework==3.9.3
djangorestframework-stubs==0.4.2
jsonfield==2.0.2
kazoo==2.6.1
Markdown==3.1
prometheus-client==0.7.1
python-dateutil==2.5.3
pytz==2019.1
PyYAML==5.1
six==1.12.0
sqlparse==0.3.0
